:root {
    /* do :root se píšou globálně dostupné proměnné */
    --hlavni_barva: hsla(0, 59%, 41%, 0.4);
    --barva_1: hsla(0, 59%, 41%, 0.6);
    --barva_2: hsl(0, 59%, 41%);
    --hlavni_bg_barva: hsl(120, 50%, 50%);
    --bg_1: hsl(180, 50%, 80%);
    --bg_2: hsl(60, 50%, 80%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


input,
textarea,
button,
select {
    font-family: inherit;
}